/*CSS styles for QRChallenge*/

*:not(i) {
	font-family: Neue Helvetica, serif;
}

h3 {
	color: black;
}

p {
	color: grey;
}

img.round-corners {
	border-radius: 30px;
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}