/*CSS styles for QRChallenge*/

*:not(i) {
	font-family: "Delivery Matrix AOE", sans-serif;
}

h3 {
	font-size: 30px;
	color: black;
}

p {
	font-size: 25px;
	color: rgba(128, 128, 128);
}

body{
	display: flex;
}

img.round-corners {
	border-radius: 30px;
}

.attribution {
	font-size: 11px;
	text-align: center;
	opacity: 50;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}